.elementor-1754 .elementor-element.elementor-element-f0c7ed6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --overlay-opacity: 0.5;
    border-style: none;
    --border-style: none;
    --border-radius: 15px 15px 15px 15px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 50px;
    --padding-right: 50px;
}

.elementor-1754 .elementor-element.elementor-element-f0c7ed6:not(.elementor-motion-effects-element-type-background),
.elementor-1754 .elementor-element.elementor-element-f0c7ed6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #DDDDDD;
}

.elementor-1754 .elementor-element.elementor-element-f0c7ed6::before,
.elementor-1754 .elementor-element.elementor-element-f0c7ed6>.elementor-background-video-container::before,
.elementor-1754 .elementor-element.elementor-element-f0c7ed6>.e-con-inner>.elementor-background-video-container::before,
.elementor-1754 .elementor-element.elementor-element-f0c7ed6>.elementor-background-slideshow::before,
.elementor-1754 .elementor-element.elementor-element-f0c7ed6>.e-con-inner>.elementor-background-slideshow::before,
.elementor-1754 .elementor-element.elementor-element-f0c7ed6>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-1754 .elementor-element.elementor-element-cee3080 img {
    width: 36%;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-1754 .elementor-element.elementor-element-64d5b6a {
    text-align: center;
}

.elementor-1754 .elementor-element.elementor-element-64d5b6a .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #424242;
}

.elementor-widget-form .elementor-field-group>label,
.elementor-widget-form .elementor-field-subgroup label {
    color: var( --e-global-color-text);
}

.elementor-widget-form .elementor-field-group>label {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-type-html {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-group .elementor-field {
    color: var( --e-global-color-text);
}

.elementor-widget-form .elementor-field-group .elementor-field,
.elementor-widget-form .elementor-field-subgroup label {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-form .e-form__buttons__wrapper__button-next {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .elementor-button[type="submit"] {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .e-form__buttons__wrapper__button-previous {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .elementor-message {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .e-form__indicators__indicator,
.elementor-widget-form .e-form__indicators__indicator__label {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-form {
    --e-form-steps-indicator-inactive-primary-color: var( --e-global-color-text);
    --e-form-steps-indicator-active-primary-color: var( --e-global-color-accent);
    --e-form-steps-indicator-completed-primary-color: var( --e-global-color-accent);
    --e-form-steps-indicator-progress-color: var( --e-global-color-accent);
    --e-form-steps-indicator-progress-background-color: var( --e-global-color-text);
    --e-form-steps-indicator-progress-meter-color: var( --e-global-color-text);
}

.elementor-widget-form .e-form__indicators__indicator__progress__meter {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 10px;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -10px;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-group .elementor-field {
    color: #000000;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-group .elementor-field,
.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-subgroup label {
    font-family: "Montserrat", Sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-group .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-radius: 17px 17px 17px 17px;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-radius: 17px 17px 17px 17px;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-button {
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    border-radius: 22px 22px 22px 22px;
    padding: 20px 20px 20px 20px;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-1754 .elementor-element.elementor-element-e5e3100 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

#elementor-popup-modal-1754 {
    background-color: #000000CC;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

#elementor-popup-modal-1754 .dialog-message {
    width: 463px;
    height: auto;
}

#elementor-popup-modal-1754 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-1754 .dialog-widget-content {
    border-radius: 12px 12px 12px 12px;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
    margin: 0px 0px 0px 0px;
}

@media(max-width:767px) {
    .elementor-1754 .elementor-element.elementor-element-f0c7ed6 {
        --padding-top: 35px;
        --padding-bottom: 35px;
        --padding-left: 35px;
        --padding-right: 35px;
    }
    .elementor-1754 .elementor-element.elementor-element-cee3080 img {
        width: 49%;
    }
    .elementor-1754 .elementor-element.elementor-element-64d5b6a .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-1754 .elementor-element.elementor-element-e5e3100>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-group .elementor-field,
    .elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-field-subgroup label {
        font-size: 14px;
    }
    .elementor-1754 .elementor-element.elementor-element-e5e3100 .elementor-button {
        font-size: 14px;
    }
    #elementor-popup-modal-1754 .dialog-message {
        width: 90vw;
    }
}